body
{ 
    background-image: url(../img/fondo.png);
    background-position: center;
}
.caja1 {
    max-width: 1080px;
    height: auto;
    background-color: lightblue;
    color: midnightblue;
    border: 5px;
    text-align: center;
    margin: auto;
}